body{
	background: #055792;
}
h1{
	text-align: center;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #378E0F
}
input{
	background: #378E0F;
}

iframe{
	margin-top: 250px;
}

p{
	
}
img{
margin-top: -300px;
}