body{
	background: #055792;
}
.reservado{
	background-color:green;
     width:100px;
     height:100px;
	 margin-left: 1000px;
	 margin-top: -950px;
}
.comprado{
	background-color:green;
     width:100px;
     height:200px;
	 margin-left: 1000px;
	 margin-top: 600px;
}
.disponible{
	background-color:green;
     width:100px;
     height:100px;
	 margin-left: 1000px;
	 margin-top: -950px;
}

.sala{
	background-color: black; 
	width:670px;
	height: 680px;
	margin-top: -350px;
	
	
}
.A1{
	 background-color:red;
     width:100px;
     height:100px;
	 margin-left: 120px;
	 margin-top: 450px;	
}
.A2{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 10px;
	 margin-top: -390px;	
}

.A3{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 230px;
	 margin-top: -400px;	
}
.A4{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 340px;
	 margin-top: -400px;	
}
.A5{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 450px;
	 margin-top: -400px;	
}
.A6{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 560px;
	 margin-top: -400px;	
}
.B1{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 10px;
	 margin-top: -290px;	
}
.B2{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 120px;
	 margin-top: -400px;	
}
.B3{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 230px;
	 margin-top: -400px;	
}
.B4{
	 background-color: white;
     width:100px;
     height:100px;
	 margin-left: 340px;
	 margin-top: -400px;	
}
.B5{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 450px;
	 margin-top: -400px;	
}
.B6{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 560px;
	 margin-top: -400px;	
}
.C1{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 10px;
	 margin-top: -290px;	
}
.C2{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 120px;
	 margin-top: -400px;	
}
.C3{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 230px;
	 margin-top: -400px;	
}
.C4{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 340px;
	 margin-top: -400px;	
}
.C5{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 450px;
	 margin-top: -400px;	
}
.C6{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 560px;
	 margin-top: -400px;	
}
.D1{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 10px;
	 margin-top: -290px;	
}
.D2{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 120px;
	 margin-top: -400px;	
}
.D3{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 230px;
	 margin-top: -400px;	
}
.D4{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 340px;
	 margin-top: -400px;	
}
.D5{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 450px;
	 margin-top: -400px;	
}
.D6{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 560px;
	 margin-top: -400px;	
}

.E1{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 10px;
	 margin-top: -290px;	
}
.E2{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 120px;
	 margin-top: -400px;	
}
.E3{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 230px;
	 margin-top: -400px;	
}
.E4{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 340px;
	 margin-top: -400px;	
}
.E5{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 450px;
	 margin-top: -400px;	
}
.E6{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 560px;
	 margin-top: -400px;	
}
.F1{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 10px;
	 margin-top: -290px;	
}
.F2{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 120px;
	 margin-top: -400px;	
}
.F3{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 230px;
	 margin-top: -400px;	
}
.F4{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 340px;
	 margin-top: -400px;	
}
.F5{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 450px;
	 margin-top: -400px;	
}
.F6{
	 background-color:white;
     width:100px;
     height:100px;
	 margin-left: 560px;
	 margin-top: -400px;	
}


div{
	margin-left: 220px;
	margin-bottom:300px; 
	margin-top:100px;
	background-color: #f42c13;
    height:500px;
	width:900px;
}



