body {
	background-color: #055792
}

img{
	display:block; 
}
h1{

	text-align: center;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #378E0F


}
a{
	color: white;
	text-decoration: none;
}
.Carteleras{
	font-size: 30px;
	font-family: cursive;
	color: white;
}